
<div>

	<span id="createUser">
	<mat-form-field>
      <input matInput [(ngModel)] = "name" placeholder="Name">
    </mat-form-field>
	 <mat-form-field>
      <input matInput [(ngModel)] = "email" placeholder="Email">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)] = "password" placeholder="Password">
    </mat-form-field>
    

    
	 <mat-form-field>
      <input matInput [(ngModel)] = "rollNo" placeholder="Roll No.">
    </mat-form-field>

    
    <button mat-button (click)="create()">Create User</button>
    </span>

  	
 </div>
